        
        body {
            font-size: 13px;
            color:floralwhite;
            font-family: 'Courier New', Courier, monospace;
        }


.adv span {
    border: 0.5px solid #ccc;
}

/* 总版心 */
.adv {
    margin: 0 auto;
    width: 1000px;
    height: 100%;
    /* border: 1px solid #cccccc; */
    display: flex;
    padding: 20px;
    margin-top: 10px;
    background-color: darkkhaki;
   
}

/* 左边个人区 */
.adv aside {
    flex: 2;
    /* border-right: 1px solid rgb(35, 209, 240); */
    margin-right: 10px;
    background-color: #4B4B4B;
}
/* copy版权  */
.adv aside .copy {
    margin-top: 30px;
    font-size: 10px;
    text-align: center;
}

.adv aside .a1 {
    width: 100%;
    height: 200px;
    background-color: #4B4B4B;

}
/* 373737 */

.adv aside .a1 p {
    /* margin: 0 auto; */
    padding-left: 30px;
    font-size: 10px;
}

.adv aside .a1 p:nth-child(1) {
    font-size: 22px;
    padding-top: 70px;
}

.adv aside .classif {
    margin-top: 10px;
}

.adv aside .classif li {
    margin-top: 10px;
    padding-left: 10px; 
    font-size: 15px;
    background-color: #373737;
}

.adv aside .classif2 {
    margin-top: 20px;
    background-color: #373737;
} 

.adv aside .classif2 p {
    text-align: center;
    padding-top: 5px;
}

.adv aside .classif2 p span:nth-child(1) {
    /* color: aquamarine; */
    border-bottom:2px solid #c7fa0f;
}

/* 目录 */
.adv aside .catalogue {
    padding-left: 10px;
    
}

.adv aside .catalogue a {
    width: 180px;
    display: block;
    color: antiquewhite;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 10px;
}

/* 右边文章区 */
.adv section {
    flex: 8;
    padding-left: 10px;
}

.adv section img {
    width: 300px;
}
