<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width'>
	<title>前端个人笔记</title>
	<link rel='stylesheet' href='../../css/reset.css'>
	<!--样式重置-->
	<link rel="stylesheet" href="../../css/commonality.css" />
	<!--公共样式 -->
	<link rel='stylesheet' href='font_zvmukwgy6l/iconfont.css'>
	<style>
		body {
			font-family: 'Courier New', Courier, monospace;

			color: #34495e;
		}

		.box {
			position: relative;
			width: 100%;
		}

		a {

			color: #42b983;
		}

		/*侧边栏样式*/
		.box aside {
			position: fixed;
			z-index: 889;
			left: 0;
			top: 0;
			/*width: 200px;*/
			height: 100%;
			background-color: #fff;
			display: none;
			overflow: auto;
			padding-top: 10px;
		}

		.box aside .zsfl {
			overflow: auto;
			white-space: nowrap;
		}

		.box aside ul {
			display: block;
			list-style-type: none;
			/* margin-block-start: 1em; */
			/* margin-block-end: 1em; */
			margin-inline-start: 0px;
			margin-inline-end: 0px;
			padding-inline-start: 10px;
		}

		.box aside ul a {
			text-decoration: none;
		}

		.box aside li {
			padding-top: 5px;
			/* display: list-item; */
			/* text-align: -webkit-match-parent */
		}

		#icon {
			position: fixed;
			z-index: 889;
			top: 3px;
		}

		h2 {
			font-size: 16px;
		}



		/*内容样式*/
		.topBox {
			position: fixed;
			width: 100%;
			z-index: 888;
			background-color: rgb(243, 240, 225);
			height: 25px;
		}

		.box section {
			padding: 25px 5px 0 5px;
		}

		.box section div .top {
			text-align: center;
		}

		.box section div pre {
			overflow: auto;
			border: 1px solid #ccc;
			background-color: #f8f8f8;
		}

		.box section .vueNote .topP {
			padding-top: 10px;
			font-size: 18px;
			text-align: center;
		}

		/* .box section .vueNote div {
			margin-top: 15px;
		} */

		.box section .vueNote div a {
			display: inline-block;
			font-size: 15px;
			padding-top: 30px;
			padding-bottom: 5px;
		}
	</style>
</head>

<body>
	
	<!-- 返回顶部 -->
	<button class="top" id="top"><a href="#topaa">TOP</a></button>
	<div class="topBox"></div>

	<div class='box'>

		<!--侧边栏-->
		<aside class="leftN" id='leftN'>

			<ul>
				<h2>我的计算机笔记</h2>
				<li>

					<a href='#js'>前端</a>
				</li>
				<li>
					<a href='#zh'>后端</a>
				</li>
				<li>
					<a href='#js'>计算机网络</a>
				</li>
				<li>
					<a href='#js'>算法</a>
				</li>
				<li>
					<a href='#js'>浏览器</a>
				</li>
				<li>
					<a href='#js'>js笔记</a>
				</li>
			</ul>
			<hr>
			</hr>
			<ul class="zsfl">
				<!--知识分类-->
				<p>前端</p>
				<li>
					<a href="#">Vue</a>
					<ul>
						<li>
							<a href="#a1">指令</a>
							<ul>
								<li>
									<a href="#a1_1">v-bind指令</a>
								</li>
								<li>
									<a href="#a1_2">条件渲染 v-if 、 v-show</a>
								</li>
								<li>
									<a href="#a1_3">v-if和v-else注意事项</a>
								</li>
								<li>
									<a href="#a1_4">v-bind指令</a>
								</li>
								<li>
									<a href="#a1_5">v-bind指令</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#b1">父子组件通信props、$emit</a>
						</li>
						<li>
							<a href="#c1">Vue实例的生命周期钩子函数</a>
						</li>
						<li>
							<a href="d1">模板语法</a>
							<ul>
								<li>
									<a href="#d1_1"> 插值表达式 {{}}</a>
								</li>
								<li>
									<a href="#d1_2"> v-text</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#e1">计算属性、方法和侦听器</a>
						</li>
						<li>
							<a href="#f1">Vue中的样式绑定</a>
						</li>
						<li>
							<a href="#g1">列表渲染与设置唯一的key键</a>
						</li>
						<li>
							<a href="#h1">Vue中的set方法</a>
						</li>
						<li>
							<a href="#i1">父子组件的数据传递</a>
						</li>
						<li>
							<a href="#j1">组件参数校验与props特性</a>
						</li>
						<li>
							<a href="#k1">给组件绑定原生事件</a>
						</li>
						<li>
							<a href="#l1">非父子组件间的传值</a>
						</li>
						<li>
							<a href="#m1">在Vue中使用插槽 slot</a>
						</li>
						<li>
							<a href="#n1">动态组件与v-once</a>
						</li>
						<li>
							<a href="#v1">Vue中CSS动画原理</a>
						</li>
						<li>
							<a href="#u1">Vue中CSS动画原理</a>
						</li>
						<li>
							<a href="#x1">在Vue中同时使用过度和动画</a>
						</li>
						<li>
							<a href="#y1">Vue中的Js动画与Velocity.js的结合</a>
						</li>
						<li>
							<a href="#z1">Vue中多个元素或组件的过度</a>
						</li>
						<li>
							<a href="#aa1">Vue中的列表过度</a>
						</li>
						<li>
							<a href="#ab1">Vue中的动画封装</a>
						</li>
						<li>
							<a href="#ac1"></a>
						</li>
					</ul>
				</li>
			</ul>

		</aside>
		<span id='icon' class='iconfont icon-option'></span>

		<!--内容-->
		<section>
				<a name='topaa'></a><!-- 返回顶部目标 -->
			<div class="vueNote"> 
				<p class="topP">Vue笔记</p>
				<div>
					<a name="a1_1">v-bind指令: 由父组件传递到子组件值</a>
					<pre>
								<code>
条件渲染 v-if 、 v-show：
v-if值为false时会将元素标签直接删除掉 即不会渲染到页面中;
例：//当show的值为a时，就显示This is a；
值为b时就显示This is b；都不是时就显示This is others；
html:
&lt;div id=&#x27;app&#x27;&gt;
  &lt;div v-if=&quot;show === &#x27;a&#x27;&quot;&gt;This is a&lt;/div&gt;
  &lt;div v-else-if=&quot;show === &#x27;b&#x27;&quot;&gt;This is b&lt;/div&gt;
  &lt;div v-else&gt;This is others&lt;/div&gt; （v-else必须紧跟v-if或v-else-if）
&lt;/div&gt;
					
js:
  const app = new Vue({
    el: '#app',
    data: {
      show: 'a'
	}
  })
								</code>
							</pre>
				</div>

				<div>
					<a name="a1_2">v-if和v-else注意事项:</a>
					<pre>
								<code>
//当两个包裹的DOM有相同的地方时，Vue就会尽量的不重新渲染DOM，所以要加key建，使DOM成为独一的
html:
&lt;div id=&quot;app&quot;&gt;
  &lt;div v-if=&quot;show&quot;&gt;
  用户名：&lt;input type=&quot;text&quot; key=&quot;username&quot;&gt; 
  &lt;/div&gt;
  &lt;div v-else&gt;
  邮箱：&lt;input type=&quot;text&quot; key=&quot;password&quot;&gt;//如果没有加key，则上下两个input会只渲染一个
  &lt;/div&gt;
&lt;/div&gt;
					
js:
const app = new Vue({
  el: "#app",
  data: {
    show: false;
  }
})
								</code>
							</pre>
				</div>
			
				<div>
					<a  name="a1_3">v-bind指令: 由父组件传递到子组件值</a>
					<pre>
								<code>
v-if值为false时会将元素标签直接删除掉 即不会渲染到页面中;
例：//当show的值为a时，就显示This is a；
值为b时就显示This is b；都不是时就显示This is others；
html:
&lt;div id=&#x27;app&#x27;&gt;
  &lt;div v-if=&quot;show === &#x27;a&#x27;&quot;&gt;This is a&lt;/div&gt;
  &lt;div v-else-if=&quot;show === &#x27;b&#x27;&quot;&gt;This is b&lt;/div&gt;
  &lt;div v-else&gt;This is others&lt;/div&gt; （v-else必须紧跟v-if或v-else-if）
&lt;/div&gt;
					
js:
  const app = new Vue({
    el: '#app',
    data: {
      show: 'a'
	}
  })
								</code>
							</pre>
				</div>
			
				<div>
					<a name="a1_4">v-bind指令: 由父组件传递到子组件值</a>
					<pre>
								<code>
v-if值为false时会将元素标签直接删除掉 即不会渲染到页面中;
例：//当show的值为a时，就显示This is a；
值为b时就显示This is b；都不是时就显示This is others；
html:
&lt;div id=&#x27;app&#x27;&gt;
  &lt;div v-if=&quot;show === &#x27;a&#x27;&quot;&gt;This is a&lt;/div&gt;
  &lt;div v-else-if=&quot;show === &#x27;b&#x27;&quot;&gt;This is b&lt;/div&gt;
  &lt;div v-else&gt;This is others&lt;/div&gt; （v-else必须紧跟v-if或v-else-if）
&lt;/div&gt;
					
js:
  const app = new Vue({
    el: '#app',
    data: {
      show: 'a'
	}
  })
								</code>
							</pre>
				</div>
				
				<div>
					<a name="a1_5">v-bind指令: 由父组件传递到子组件值</a>
					<pre>
								<code>
v-if值为false时会将元素标签直接删除掉 即不会渲染到页面中;
例：//当show的值为a时，就显示This is a；
值为b时就显示This is b；都不是时就显示This is others；
html:
&lt;div id=&#x27;app&#x27;&gt;
  &lt;div v-if=&quot;show === &#x27;a&#x27;&quot;&gt;This is a&lt;/div&gt;
  &lt;div v-else-if=&quot;show === &#x27;b&#x27;&quot;&gt;This is b&lt;/div&gt;
  &lt;div v-else&gt;This is others&lt;/div&gt; （v-else必须紧跟v-if或v-else-if）
&lt;/div&gt;
					
js:
  const app = new Vue({
    el: '#app',
    data: {
      show: 'a'
	}
  })
								</code>
							</pre>
				</div>
			
				<div>
					<a name="b1">v-bind指令: 由父组件传递到子组件值</a>
					<pre>
								<code>
v-if值为false时会将元素标签直接删除掉 即不会渲染到页面中;
例：//当show的值为a时，就显示This is a；
值为b时就显示This is b；都不是时就显示This is others；
html:
&lt;div id=&#x27;app&#x27;&gt;
  &lt;div v-if=&quot;show === &#x27;a&#x27;&quot;&gt;This is a&lt;/div&gt;
  &lt;div v-else-if=&quot;show === &#x27;b&#x27;&quot;&gt;This is b&lt;/div&gt;
  &lt;div v-else&gt;This is others&lt;/div&gt; （v-else必须紧跟v-if或v-else-if）
&lt;/div&gt;
					
js:
  const app = new Vue({
    el: '#app',
    data: {
      show: 'a'
	}
  })
								</code>
							</pre>
				</div>
				<div>
					<a name="c1">v-bind指令: 由父组件传递到子组件值</a>
					<pre>
								<code>
v-if值为false时会将元素标签直接删除掉 即不会渲染到页面中;
例：//当show的值为a时，就显示This is a；
值为b时就显示This is b；都不是时就显示This is others；
html:
&lt;div id=&#x27;app&#x27;&gt;
  &lt;div v-if=&quot;show === &#x27;a&#x27;&quot;&gt;This is a&lt;/div&gt;
  &lt;div v-else-if=&quot;show === &#x27;b&#x27;&quot;&gt;This is b&lt;/div&gt;
  &lt;div v-else&gt;This is others&lt;/div&gt; （v-else必须紧跟v-if或v-else-if）
&lt;/div&gt;
					
js:
  const app = new Vue({
    el: '#app',
    data: {
      show: 'a'
	}
  })
								</code>
							</pre>
				</div>
				
				<div>
					<a name="d1">v-bind指令: 由父组件传递到子组件值</a>
					<pre>
								<code>
v-if值为false时会将元素标签直接删除掉 即不会渲染到页面中;
例：//当show的值为a时，就显示This is a；
值为b时就显示This is b；都不是时就显示This is others；
html:
&lt;div id=&#x27;app&#x27;&gt;
  &lt;div v-if=&quot;show === &#x27;a&#x27;&quot;&gt;This is a&lt;/div&gt;
  &lt;div v-else-if=&quot;show === &#x27;b&#x27;&quot;&gt;This is b&lt;/div&gt;
  &lt;div v-else&gt;This is others&lt;/div&gt; （v-else必须紧跟v-if或v-else-if）
&lt;/div&gt;
					
js:
  const app = new Vue({
    el: '#app',
    data: {
      show: 'a'
	}
  })
								</code>
							</pre>
				</div>
				
				<div>
					<a name="d1_1">v-bind指令: 由父组件传递到子组件值</a>
					<pre>
								<code>
v-if值为false时会将元素标签直接删除掉 即不会渲染到页面中;
例：//当show的值为a时，就显示This is a；
值为b时就显示This is b；都不是时就显示This is others；
html:
&lt;div id=&#x27;app&#x27;&gt;
  &lt;div v-if=&quot;show === &#x27;a&#x27;&quot;&gt;This is a&lt;/div&gt;
  &lt;div v-else-if=&quot;show === &#x27;b&#x27;&quot;&gt;This is b&lt;/div&gt;
  &lt;div v-else&gt;This is others&lt;/div&gt; （v-else必须紧跟v-if或v-else-if）
&lt;/div&gt;
					
js:
  const app = new Vue({
    el: '#app',
    data: {
      show: 'a'
	}
  })
								</code>
							</pre>
				</div>
				
				<div>
					<a name="d1_2">v-bind指令: 由父组件传递到子组件值</a>
					<pre>
								<code>
v-if值为false时会将元素标签直接删除掉 即不会渲染到页面中;
例：//当show的值为a时，就显示This is a；
值为b时就显示This is b；都不是时就显示This is others；
html:
&lt;div id=&#x27;app&#x27;&gt;
  &lt;div v-if=&quot;show === &#x27;a&#x27;&quot;&gt;This is a&lt;/div&gt;
  &lt;div v-else-if=&quot;show === &#x27;b&#x27;&quot;&gt;This is b&lt;/div&gt;
  &lt;div v-else&gt;This is others&lt;/div&gt; （v-else必须紧跟v-if或v-else-if）
&lt;/div&gt;
					
js:
  const app = new Vue({
    el: '#app',
    data: {
      show: 'a'
	}
  })
								</code>
							</pre>
				</div>
			</div>
			<section>
	</div>


	<script>
		window.onload = (function () {
			const leftN = document.getElementById('leftN');
			const leftNList = leftN.getElementsByTagName('li');
			const leftNLista = leftN.getElementsByTagName('a')
			var icon = document.getElementById('icon');

			clickShow()
			var leftNWidth;
			icon.onclick = clickShow; 
			function clickShow() {
				//leftNWidth = leftN.offsetWidth;
				if (leftNWidth == 5) {
					leftNWidth = 200;
					leftN.style.width = leftNWidth + 'px';
					icon.style.left = leftNWidth - 16 + 'px';
					leftN.style.display = 'block';
					icon.className = 'iconfont icon-shanchuxuanxiang';

				} else {
					leftNWidth = 5;
					icon.style.left = leftNWidth + 'px';
					leftN.style.display = 'none';
					icon.className = 'iconfont icon-option';
				}


				console.log(leftN.offsetWidth)


			}
			document.addEventListener('click', function (event) {
				var event = event || window.event;
				console.log(event.target)
				console.log(event.target.nodeName)
				if (event.target != leftN && event.target != icon && event.target.nodeName != 'LI' && event.target.nodeName != 'A') {

					leftNWidth = 5;
					icon.style.left = leftNWidth + 'px';
					console.log(icon.style.left + 'a')
					leftN.style.display = 'none';
					icon.className = 'iconfont icon-option';
				}
				return false;
				colsole.log(1)
			}, false)




		})()
	</script>
</body>

</html>